body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.active_class{
  background-color: rgb(54, 15, 15);
  border: 1px solid white;  
  border-radius: 5px;
  padding: 2px;
  padding:3px 10px;
}
nav ul{
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;

}


nav ul li{
  padding: 1rem ;
  list-style: none;
}


nav ul li:hover{
  background-color: #0f2d7e;
  
}

nav ul li a:hover{
  color: white;
  text-decoration: none;
}
nav ul li a{
  color: white;
}
nav{
  background-color: #0e2463;
}

.bgimg{
  background: url('./images/fire.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
}
.heading{
  display: inline-block;
  margin-top: 0;
  font-size: 5rem;
  padding-top: 5rem;
  letter-spacing: 5px;
}
.para{
  font-size: 1.2rem;
}
.imgperson{
  float: right;
  height: 450px;
  margin-right: 3rem;
  width: 500px;
  opacity: 1;
  margin-top: -18.2rem;
}
.imgperson:hover{
  box-shadow: 0 0 10px rgb(180, 79, 12);
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  
}
.examimg{
  margin: 2rem 0;
}
.examimg:hover{
  box-shadow: 0 0 10px rgb(180, 79, 12);
  animation: shake 0.5s;
  
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.contacticons{
  display: inline-flex;
  list-style: none;
  margin-top: 4rem;
  height: 6.5rem;
  padding-top: .5rem;
  
}
.contacticons li{
  padding: .7rem;
  margin: 1rem;
  border: 1px solid #0c2f7a;
  border-radius: 50%;
  font-size: 2.1rem;
}
.contacticons li:first-child{
  margin-left: 0;
}
.contacticons li:hover{
  background-color: rgb(216, 141, 2);
  color: rgb(0, 0, 0);
}
.card1{
  border: 2px solid red;
  width: 25rem;
  text-align: center;
}
.flip-card {
  background-color: transparent;
  width: 260px;
  height: 300px;
  margin: 1rem;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(216, 141, 2);
  color: black;
  transform: rotateY(180deg);
 
}
.cards{
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.line{
  width: 5rem;
  height: 2px;
  color: white;
  display: inline-block;
  background-color: rgb(180, 117, 21);
}

.line2{
  display: inline;
  width: 5rem;
  margin: auto;
  height: 2px;
  color: white;
  display: inline-block;
  background-color: rgb(180, 117, 21);
}
.line1{
  width: 5rem;
  height: 2px;
  margin-left: 2.5rem;
  margin-top: 0;
  color: white;
  display: inline-block;
  background-color: rgb(241, 236, 228);
}
.con{
  margin-left: 3rem;
}
.para{
  display: inline-block;
}
.what{
  background-color: #d4d3d3;
  color: rgb(92, 26, 26);
  padding: 5rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 4rem;
}
.cardform{
  /* overflow: hidden; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: 1px solid rgb(238, 228, 228);
  padding: 1rem;
  background-color: rgb(16 37 32);
  color: rgb(235, 227, 227);
  height: 20rem;
}
.examtext{
  background-color: black;
  color: white;
  padding: 4rem;
  
}
/* .examheading{
  margin-top: 2rem ;
} */
.examhr{
  width: 7rem;
  height: 2px;
  color: white;
  display: inline-block;
  background-color: rgb(180, 117, 21);

}

.examhr1{
  width: 14rem;
  height: 2px;
  color: white;
  display: block;
  background-color: rgb(180, 117, 21);
}


.visitexam{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #0c2f7a;
  border-radius: 50%;
  /* font-size: 4rem; */
  background-color: black;
  color: rgb(216, 141, 2);
  
}

.visitexam:hover{
  background-color: rgb(216, 141, 2);
  color: rgb(0, 0, 0);
}
/* .github{
  
} */